@media screen and (max-width: 600px) {
    /* PAGINA HOME*/
    header {
        padding-left: 0;
        padding-right: 0;
    }

    header nav div {
        width: 100%;
    }

    header nav img {
        width: 200px;
        align-items: center;
        height: 40px;
    }

    .menu {
        padding-left: 5px;
    }

    .menu a {
        width: 95%;
        margin-top: 0;
    }

    .tituloSpider {
        display: flex;
        width: 205px;
        margin-top: 214px;
        padding-left: 59px;
    }

    .meio-do-corpo {
        height: 287px;
        width: auto;
    }

    .meio-do-corpo .informativo .info-p {
        font-size: 0.5em;
        justify-items: end;
        padding: 6px;
    }

}