@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Lobster&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-padrao: #fe7467;
    --cor-padrao-hover: #fc3836;
    --cor-padrao-letra: #fff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background: url("../img/spidermanheader.jpg");
    background-size: cover;
    height: 900px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.tituloSpider {
    display: flex;
    width: 300px;
    margin-top: 300px;
    padding-left: 20px;
    justify-content: flex-start;
}

.logo {
    margin-top: 5px;
    margin-right: 50%;
}

.menu {
    text-align: right;
    padding: 20px;
}

.menu a {
    color: var(--cor-padrao-letra);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    font-weight: 600;
}

.menu a:hover {
    color: var(--cor-padrao-hover);
    border-bottom: 4px solid var(--cor-padrao);
}

/* MEIO DO CORPO */

.meio-do-corpo {
    display: flex;
    width: 100%;
}

.meio-do-corpo img {
    width: 100%;
}

.meio-do-corpo .informativo {
    position: absolute;
    width: 100%;
}

.meio-do-corpo .informativo h1 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    height: top;
}

.meio-do-corpo .informativo h1::before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: calc(50% - 50px);
    border-bottom: 4px solid var(--cor-padrao-letra);
}

.meio-do-corpo .informativo .info-p {
    text-align: justify;
    color: var(--cor-padrao-letra);
    font-size: 1.1em;
    margin: 10em;
    padding-left: 50%;
}

/*  CATÁLOGO  */

.contato h1 {
    position: relative;
    color: rgb(60, 56, 56);
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    height: top;
}

.contato h1::before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: calc(50% - 50px);
    border-bottom: 4px solid var(--cor-padrao);
}

.catalogo img {
    display: flex;
    height: 500px;
}

.contato .catalogo-p {
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: 1.1em;
    margin: 5em;
}

.contato .catalogo-p button {
    text-decoration: none;
    color: var(--cor-padrao-letra);
    font-weight: 700;
    background: var(--cor-padrao-hover);
    padding: 12px 20px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
    border: none;
}


/* PAGINA DE CONTATO */

.pag-contato {
    background: url("../img/contatoheader.jpg");
    background-size: cover;
    height: 800px;
}

.cont-title {
    display: flex;
    width: 25%;
    margin-top: 200px;
    padding-left: 3%;
    justify-content: flex-start;
}

.entre-em-contato h1 {
    text-align: center;
    margin-top: 20px;
    color: rgba(38, 37, 37, 0.826);
}

.entre-em-contato h1::after {
    content: " ";
    position: absolute;
    width: 109px;
    height: 6px;
    bottom: -162px;
    left: calc(49% - 44px);
    border-bottom: 4px solid var(--cor-padrao);
}

.entre-em-contato p {
    display: flex;
    text-align: center;
    font-size: 1.1em;
    margin: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    width: 400px;
    padding: 2%;
}

.container-form {
    display: flex;
    width: 200%;
}

.container-inputs {
    margin-right: 8px;

}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1ef;
    color: rgb(52, 50, 50);
    width: 95%;
    height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bfbfbee6;
    margin: 10px;
    border-radius: 8px;
}

input:focus, textarea:focus {
    border-color: #e0e0e0;
}

textarea {
    resize: none;
}

.btn {
    transform: translateX(120%);
    padding: 0;
    background: var(--cor-padrao-hover);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.text {
    display: block;
    padding-left: 50%;
    padding: 10px 200px;
    border-radius: 12px;
    font-size: 20px;
    color: var(--cor-padrao-letra);
    transform: translateY(-2px);
}

/* PAGINA DE CATALOGO */
.pag-catalogo {
    background: url("../img/captainmarvelheader.jpg");
    background-size: cover;
    height: 900px;
}

.cat-title {
    display: flex;
    padding: 10px;
    margin-top: 250px;
    justify-content: flex-start;
}

.gallery {
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 24px 54px;
}

.gallery h1 {
    position: relative;
    color: rgb(60, 56, 56);
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    height: top;
}

.gallery h1::before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: calc(50% - 50px);
    border-bottom: 4px solid var(--cor-padrao);
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-row div {
    flex: 1 1 300px;
}

.gallery-row img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.gallery span {
    font-weight: bold;
}

.gallery p {
    font-family: sans-serif;
}

.gallery button {
    padding: 10px;
    background-color: var(--cor-padrao-hover);
    color: var(--cor-padrao-letra);
    font-weight: 700;
    border-radius: 8px;
    border: none;
    display: grid;
}
