@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Lobster&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-padrao: #fe7467;
    --cor-padrao-hover: #fc3836;
    --cor-padrao-letra: #fff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background: url("../img/spidermanheader.jpg");
    background-size: cover;
    height: 900px;
}

.navbar {    
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.tituloSpider {
    display: flex;
    width: 300px;
    margin-top: 300px;
    padding-left: 20px;
    justify-content: flex-start;
}

.tituloSpider img {
    
}

.logo {
    margin-top: 5px;
    margin-right: 50%;    
}

.menu {
    text-align: right;
    padding: 20px;
}

.menu a {    
    color: var(--cor-padrao-letra);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    font-weight: 600;
}

.menu a:hover {
    color: var(--cor-padrao-hover);
    border-bottom: 4px solid var(--cor-padrao);
}

/* MEIO DO CORPO */
.meio-do-corpo {
    position: absolute;
    display: flex;
    width: 100%;
}

.meio-do-corpo h1 {
    color: var(--cor-padrao-letra);
    text-transform: uppercase;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #4c4848;
    margin: 0;
    z-index: 50%;
}

